{% extends "base.html" %}
{% load static %}
{% block title %}Category{% endblock title %} 

{% block banner_slider %} 
<div class="container-fluid bg-dark d-flex justify-content-around align-items-center " >
    <video src="{% static 'image/banner/pd1.mp4' %}" autoplay loop muted height="200"></video>
    <video src="{% static 'image/banner/30195143.mp4' %}" autoplay loop muted height="200"></video>
    <video src="{% static 'image/banner/pd2.mp4' %}" autoplay loop muted height="200"></video>
    <video src="{% static 'image/banner/30195143.mp4' %}" autoplay loop muted height="200"></video>
</div>
{% endblock banner_slider %}


{% block main-content %} 
    <div class="container my-2 " >
        <div class="row">
            <div class="col-sm-3">
                <div class="list-group" style="border: 5px solid black; ">
                    {% for val in title %}
                        <a href="{% url 'category-title' val.title %}" class="list-group-item list-group-item-action" 
                        aria-current="true"><strong>{{val.title}}</strong></a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    {% for prod in product %}
                        <div class="col text-center mb-4">
                            <a href="{% url 'product-details' prod.id %}" class="btn">
                                <div>
                                    <img src="{{prod.product_image.url}}" width="300px" height="300px" style="border: 2px solid black;"/>
                                    <div class="fw-bold">{{prod.title}}</div>
                                    <div class="fw-bold text-danger">
                                         Rs.{{prod.discounted_price}}/-
                                         <small class="fw-light text-decoration-line-through">{{prod.selling_price}}</small>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock main-content %} 